<!DOCTYPE html>
<html>
<head>

	<title></title>

</head>
<body>
<h1>Cadastro</h1>
<a href="/produtos">listagem de produto</a>
<form action="/produtos" method="post">
	<div>
		<label for="id">ID</label>
		<input type="text" id="id" name="id" placeholder="id" />
	</div>
	<div>
		<label for="nome">NOME</label>
		<input type="text" id="nome" name="nome" placeholder="Nome" />
	</div>
	<div>
		<label for="descricao">DESCRICAO</label>
		<textarea type="text" id="descricao" name="descricao" placeholder="Descricao"></textarea>
	</div>	
	<div>
		<label for="valor">VALOR</label>
		<input type="text" id="valor" name="valor" placeholder="Valor" />
	</div>	
	<input type="submit" value="Enviar" />
</form>
</body>
</html>