<!DOCTYPE html>
<html>
<head>

	<title>Lista de produtos</title>

</head>

<body>
	<h1>Lista</h1>
	<a href="/produtos/form">formulário</a>
	<table>
		<tr>
			<td>ID</td>
			<td>NOME</td>
			<td>DESCRIÇÃO</td>
			<td>VALOR</td>
		</tr>
	 	<%for(var i=0; i<lista.length; i++) {%>
	 		<tr>
				<td><%=lista[i].id%></td>
				<td><%=lista[i].nome%></td>
				<td><%=lista[i].descricao%></td>
				<td><%=lista[i].valor%></td>
			</tr>	
	 	<%}%> 	
	</table>
</body>
</html>