<!DOCTYPE html>
<html>
<head>

	<title>Lista de produtos</title>

</head>

<body>
	<h1>Lista de Produtos</h1>

	<table>
		<tr>
			<td>ID</td>
			<td>NOME</td>
			<td>DESCRIÇÃO</td>
			<td>VALOR</td>
		</tr>
	 	<%for(var i=0; i<lista.length; i++) {%>
	 		<tr>
				<td><%=lista[i].ID%></td>
				<td><%=lista[i].NOME%></td>
				<td><%=lista[i].DESCRIÇÃO%></td>
				<td><%=lista[i].VALOR%></td>
			</tr>	
	 	<%}%> 	
	</table>
</body>
</html>