<!DOCTYPE html>
<html>
<head>

	<title>Lista de produtos</title>
	<link rel="stylesheet" href="styles/css/estilo.css" />

</head>

<body>
	<h1>Lista de Produtos</h1>

	<table>
		<tr>
			<td>ID</td>
			<td>NOME</td>
			<td>DESCRIÇÃO</td>
		</tr>
	 	<tr>
			<td>#001</td>
			<td>Livro de NodeJs</td>
			<td>Os primeiros passos em node js</td>
		</tr>
	</table>

</body>
</html>